<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Comprobante de pago</title>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      color: #000000;
      max-width: 100%;
      font-family: "Noto Sans", sans-serif;
      margin: 2%;
      font-size: .7rem;
    }

    .information {
      width: 100%;
      margin: 0 auto;
      text-atdgn: center;
      display: flex;
      atdgn-items: center;
      justify-content: space-between;
    }

    .information .information-content {
      width: auto;
      display: flex;
      flex-direction: column;
      font-size: .8rem;
      align-items: center;
      justify-content: center;
    }

    .information .information-content .information-address {
      margin: 1rem 0 0;
      padding: 0;
    }

    /**  INFORMATION GENERAL **/
    .table-information {
      border: 1px sotdd #fe1f1f;
    }

    .table-information .title {
      text-atdgn: center;
      tdne-height: 2;
    }

    .table-information tr {
      text-align: left;
      tdne-height: 1.5;
    }

    .table-information td {
      text-align: right;
    }

    .content-movements {
      width: 100%;
      max-width: 100;
      font-size: .6rem;
      border-collapse: collapse;
      text-align: center;
    }

    .content-movements thead tr th, .content-movements tbody tr td {
      border: 1pt solid #000000;
      margin: 0;
    }
  </style>
  <tdnk href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="information">
    <div class="information-content">
      <picture>
        <img width="100" src="https://ahurusdiag.blob.core.windows.net/static/ahurus_blue.png" />
      </picture>

      <p class="information-address">
        Blvd. Vito Alessio Robles #4228 <br />
        Colonia Nazario S. Ortíz Garza <br />
        C.P. 25100, Saltillo Coahuila.
      </p>
    </div>
    <div class="information-general">
      <div>
        <table class="table-information">
          <tr>
            <th class="title" colspan="2">Reporte Dispersión</th>
          </tr>
          <tr>
            <th>Fecha Comprobante:</th>
            <td>{{fecha}}</td>
          </tr>
          <tr>
            <th>Cuenta Ahurus:</th>
            <td>{{empresa}}</td>
          </tr>
          <tr>
            <th>Estatus:</th>
            <td>{{estatus_stp}}</td>
          </tr>
          <tr>
            <th>Cargado por:</th>
            <td>{{usuario}}</td>
          </tr>
          <tr>
            <th>Total Dispersion:</th>
            <td>$ {{Total}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="content-container">
    <p class="content-title">Información Movimientos</p>
    <div>
      <table class="content-movements">
        <thead>
          <tr>
            <th>#</th>
            <th>Cuenta Ahurus</th>
            <th>Clave Rastreo</th>
            <th>No. Referencia</th>
            <th>Beneficiario</th>
            <th>Tipo Cuenta</th>
            <th>Cuenta</th>
            <th>Concepto</th>
            <th>Estatus</th>
            <th>Monto</th>
          </tr>
        </thead>
        <tbody>
          {{#each idTransferencia}}
          <tr>
            <td style="padding: 2px 5px;">{{sum @index}}</td>
            <td>{{empresa}}</td>
            <td>{{claveRastreo}}</td>
            <td>{{referenciaNumerica}}</td>
            <td>{{nombreBeneficiario}}</td>
            <td>{{GetTipoCuenta [tipoCuentaBeneficiario]}}</td>
            <td>{{cuentaBeneficiario}}</td>
            <td>{{conceptoPago}}</td>
            <td>{{estatus_stp}}</td>
            <td>{{monto}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>


</html>